.container {
    /* padding-top: 50px; */
    padding-bottom: 10px;
    color: #405065;
}

label,
input {
    margin-top: 20px;
    margin-left: 10px;
}

table {
    border: 1px solid;
    /* margin-left: 40px; */
}

tr,
th,
td {
    border: 1px solid;
    padding: 3px 10px;
    font-size: large;
    border-radius: 5px;
    text-align: center;
}

form {
    margin-bottom: 30px;
}

.btn-sub {
    margin-top: 20px;
    /* margin-left: 40px; */
}

button {
    margin-right: 10px;
}

.btn-denger {
    color: red;
}

.btn-denger:hover {
    color: red;
}

.btn-primari {
    color: blue;
}

.btn-primari:hover {
    color: blue;
}

.form-check-input {
    font-size: large;
    /* margin-bottom: 20px; */
}

.search {
    margin-left: 950px;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}   