<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container p-5">
    <form [formGroup]="taskForm" id="form" name="MyForm">
        <label for="task" style="font-size: large; font-weight: 800;" required>Task : </label>
        <input type="text" name="text" placeholder="Enter your task" id="task" formControlName="task" />
        <span class="error" ng-show="MyForm.Task.$dirty && MyForm.Task.$error.required"></span>
        <br>
        <label for="date" style="font-size: large; font-weight: 800;" required>Date : </label>
        <input type="date" name="date" id="date" formControlName="date" />
        <span class="error" ng-show="MyForm.Date.$dirty && MyForm.Date.$error.required"></span>
        <br>
        <button name="button" id="submit" type="button" value="Submit" (click)="onSubmit()"
            style="cursor:pointer; font-size: large;" class="btn btn-sub" [disabled]="!taskForm.valid"><i
                class='fa fa-save'></i></button>
    </form>

    <div class="search">
       <span style="font-size: large; font-weight: 800;">Search : </span><input type="text" placeholder="Search Task & Date" [(ngModel)]="searchText">
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>CheacBox</th>
                <th>Task</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <!-- <tr>
              <th>Check Box</th>
              <td>Task & Date</td>
              <td>Action</td>
          </tr> -->
            <tr *ngFor="let employ of employ | searchFilter: searchText; index as index">
                <td>
                    <div class="checkbox">
                        <input type="checkbox" name="packersOff" id="packers" value="1" style="cursor:pointer"/>
                        <!-- <label for="packers" class="strikethrough">{{employ.task}} & {{employ.date | date: 'dd/MM/yyyy'}} </label> -->
                    </div>
                </td>
                <td>{{employ.task}}</td>
                <td>{{employ.date | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button style="cursor:pointer" class="btn btn-md btn-primari" (click)="editRow(employ, index)"><i
                            class='fa fa-edit' style="font-size: larger;"></i></button>

                    <button (click)="deleteRow(index)" style="cursor:pointer" class="btn btn-md btn-denger"><i
                            class='fa fa-trash' style="font-size: larger;"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>