/* .red {
    color: red;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-size: large;
} */


.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
}

.btn-denger {
    color: red;
}

.btn-denger:hover {
    color: red;
}

.btn-primari {
    color: rgb(58, 67, 244);
}

.btn-primari:hover {
    color: blue;
}

label,
input {
    margin-top: 20px;
    margin-left: 10px;
}

label {
    margin-top: 25px;
}

table {
    border: 2px solid;
    margin-left: 40px;
}

tr,
th,
td {
    border: 2px solid;
    padding: 3px 10px;
    font-size: large;
    text-align: center;
}

input {
    border: 1px solid;
    border-radius: 5px;
}

form {
    margin-bottom: 30px;
    display: flex;
}

.btn-sub {
    margin-top: 18px;
    border: 2px solid black;
    margin-left: 15px;
}

.search {
    margin-left: 950px;
    margin-bottom: 20px;
}

.filter{
    margin-top: -70px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-control {
    border: 2px solid black;
    width: 260px;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

.emtask {
    padding-top: 10px;
}